C#/Saldo/Service References/Account/wsAccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsAccount" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="AccountEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://pruebascfdi.smartweb.com.mx/Account/wsAccount.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://pruebascfdi.smartweb.com.mx/Account/wsAccount.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://pruebascfdi.smartweb.com.mx/Account/wsAccount.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SuFacturacion.Entidades" />
      <xsd:import schemaLocation="https://pruebascfdi.smartweb.com.mx/Account/wsAccount.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SuFacturacion.Account.Entities" />
      <xsd:import schemaLocation="https://pruebascfdi.smartweb.com.mx/Account/wsAccount.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SuFacturacion.Account.Context" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwsAccount_CreateDealer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDealer" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_CreateDealer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDealerResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_SaveDealer_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDealer" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_SaveDealer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDealerResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_SaveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUser" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_SaveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_ActivateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateUser" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_ActivateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetDealers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDealers" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetDealers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealersResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetClientById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientById" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetClientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetSaldoClientById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaldoClientById" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetSaldoClientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaldoClientByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_AddStampsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStampsUser" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_AddStampsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStampsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_RemoveStampsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStampsUser" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_RemoveStampsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStampsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_AddStampsDealer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStampsDealer" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_AddStampsDealer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStampsDealerResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_RemoveStampsDealer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStampsDealer" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_RemoveStampsDealer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStampsDealerResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_CreateManiFest_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateManiFest" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_CreateManiFest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateManiFestResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_RemoveManiFestDealer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveManiFestDealer" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_RemoveManiFestDealer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveManiFestDealerResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_RemoveManiFestAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveManiFestAdmin" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_RemoveManiFestAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveManiFestAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_ReAsignIdCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ReAsignIdCliente" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_ReAsignIdCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReAsignIdClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetManiFests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManiFests" />
  </wsdl:message>
  <wsdl:message name="IwsAccount_GetManiFests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManiFestsResponse" />
  </wsdl:message>
  <wsdl:portType name="IwsAccount">
    <wsdl:operation name="CreateDealer">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/CreateDealer" message="tns:IwsAccount_CreateDealer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/CreateDealerResponse" message="tns:IwsAccount_CreateDealer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/CreateUser" message="tns:IwsAccount_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/CreateUserResponse" message="tns:IwsAccount_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDealer">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/SaveDealer" message="tns:IwsAccount_SaveDealer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/SaveDealerResponse" message="tns:IwsAccount_SaveDealer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/SaveUser" message="tns:IwsAccount_SaveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/SaveUserResponse" message="tns:IwsAccount_SaveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/ActivateUser" message="tns:IwsAccount_ActivateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/ActivateUserResponse" message="tns:IwsAccount_ActivateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/GetUsers" message="tns:IwsAccount_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/GetUsersResponse" message="tns:IwsAccount_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDealers">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/GetDealers" message="tns:IwsAccount_GetDealers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/GetDealersResponse" message="tns:IwsAccount_GetDealers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/GetUserById" message="tns:IwsAccount_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/GetUserByIdResponse" message="tns:IwsAccount_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/GetClientById" message="tns:IwsAccount_GetClientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/GetClientByIdResponse" message="tns:IwsAccount_GetClientById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaldoClientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/GetSaldoClientById" message="tns:IwsAccount_GetSaldoClientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/GetSaldoClientByIdResponse" message="tns:IwsAccount_GetSaldoClientById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStampsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/AddStampsUser" message="tns:IwsAccount_AddStampsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/AddStampsUserResponse" message="tns:IwsAccount_AddStampsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStampsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/RemoveStampsUser" message="tns:IwsAccount_RemoveStampsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/RemoveStampsUserResponse" message="tns:IwsAccount_RemoveStampsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStampsDealer">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/AddStampsDealer" message="tns:IwsAccount_AddStampsDealer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/AddStampsDealerResponse" message="tns:IwsAccount_AddStampsDealer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStampsDealer">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/RemoveStampsDealer" message="tns:IwsAccount_RemoveStampsDealer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/RemoveStampsDealerResponse" message="tns:IwsAccount_RemoveStampsDealer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateManiFest">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/CreateManiFest" message="tns:IwsAccount_CreateManiFest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/CreateManiFestResponse" message="tns:IwsAccount_CreateManiFest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveManiFestDealer">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/RemoveManiFestDealer" message="tns:IwsAccount_RemoveManiFestDealer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/RemoveManiFestDealerResponse" message="tns:IwsAccount_RemoveManiFestDealer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveManiFestAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/RemoveManiFestAdmin" message="tns:IwsAccount_RemoveManiFestAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/RemoveManiFestAdminResponse" message="tns:IwsAccount_RemoveManiFestAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReAsignIdCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/ReAsignIdCliente" message="tns:IwsAccount_ReAsignIdCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/ReAsignIdClienteResponse" message="tns:IwsAccount_ReAsignIdCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManiFests">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsAccount/GetManiFests" message="tns:IwsAccount_GetManiFests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsAccount/GetManiFestsResponse" message="tns:IwsAccount_GetManiFests_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountEndpoint" type="tns:IwsAccount">
    <wsp:PolicyReference URI="#AccountEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDealer">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/CreateDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDealer">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/SaveDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/SaveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/ActivateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDealers">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/GetDealers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientById">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/GetClientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaldoClientById">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/GetSaldoClientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStampsUser">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/AddStampsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStampsUser">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/RemoveStampsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStampsDealer">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/AddStampsDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStampsDealer">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/RemoveStampsDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateManiFest">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/CreateManiFest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveManiFestDealer">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/RemoveManiFestDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveManiFestAdmin">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/RemoveManiFestAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReAsignIdCliente">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/ReAsignIdCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManiFests">
      <soap:operation soapAction="http://tempuri.org/IwsAccount/GetManiFests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAccount">
    <wsdl:port name="AccountEndpoint" binding="tns:AccountEndpoint">
      <soap:address location="https://pruebascfdi.smartweb.com.mx/Account/wsAccount.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>