Java/ProcesoTimbrado/xml-resources/web-service-references/wsTimbrado/wsdl/cfdi.smartweb.com.mx/Timbrado/wsTimbrado.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sufacturacion.com/" xmlns:s2="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:s1="http://www.sat.gob.mx/cfd/3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://sufacturacion.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sufacturacion.com/">
      <s:import namespace="http://www.sat.gob.mx/cfd/3" />
      <s:import namespace="http://www.sat.gob.mx/TimbreFiscalDigital" />
      <s:element name="TimbrarXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenAutenticacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbrarXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbrarXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbrarXMLV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenAutenticacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbrarXMLV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbrarXMLV2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbrarXMLV3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenAutenticacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbrarXMLV3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbrarXMLV3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbrarCFDI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:comprobante" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenAutenticacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbrarCFDIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s2:TimbrarCFDIResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/cfd/3">
      <s:element name="comprobante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Emisor">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DomicilioFiscal" type="s1:t_UbicacionFiscal" />
                  <s:element minOccurs="0" maxOccurs="1" name="ExpedidoEn" type="s1:t_Ubicacion" />
                  <s:element minOccurs="0" maxOccurs="unbounded" name="RegimenFiscal">
                    <s:complexType>
                      <s:attribute name="Regimen" type="s:string" />
                    </s:complexType>
                  </s:element>
                </s:sequence>
                <s:attribute name="rfc" type="s:string" />
                <s:attribute name="nombre" type="s:string" />
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Receptor">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Domicilio" type="s1:t_Ubicacion" />
                </s:sequence>
                <s:attribute name="rfc" type="s:string" />
                <s:attribute name="nombre" type="s:string" />
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Conceptos" type="s1:ArrayOfComprobanteConcepto" />
            <s:element minOccurs="0" maxOccurs="1" name="Impuestos">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Retenciones" type="s1:ArrayOfComprobanteImpuestosRetencion" />
                  <s:element minOccurs="0" maxOccurs="1" name="Traslados" type="s1:ArrayOfComprobanteImpuestosTraslado" />
                </s:sequence>
                <s:attribute name="totalImpuestosRetenidos" type="s:decimal" />
                <s:attribute name="totalImpuestosTrasladados" type="s:decimal" />
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Complemento">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Addenda">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
          <s:attribute name="version" type="s:string" />
          <s:attribute name="serie" type="s:string" />
          <s:attribute name="folio" type="s:string" />
          <s:attribute name="LugarExpedicion" type="s:string" />
          <s:attribute name="NumCtaPago" type="s:string" />
          <s:attribute name="TipoCambio" type="s:string" />
          <s:attribute name="Moneda" type="s:string" />
          <s:attribute name="FolioFiscalOrig" type="s:string" />
          <s:attribute name="SerieFolioFiscalOrig" type="s:string" />
          <s:attribute name="FechaFolioFiscalOrig" type="s:dateTime" />
          <s:attribute name="MontoFolioFiscalOrig" type="s:decimal" />
          <s:attribute name="fecha" type="s:dateTime" use="required" />
          <s:attribute name="sello" type="s:string" />
          <s:attribute name="formaDePago" type="s:string" />
          <s:attribute name="noCertificado" type="s:string" />
          <s:attribute name="certificado" type="s:string" />
          <s:attribute name="condicionesDePago" type="s:string" />
          <s:attribute name="subTotal" type="s:decimal" use="required" />
          <s:attribute name="descuento" type="s:decimal" />
          <s:attribute name="motivoDescuento" type="s:string" />
          <s:attribute name="total" type="s:decimal" use="required" />
          <s:attribute name="metodoDePago" type="s:string" />
          <s:attribute name="tipoDeComprobante" use="required">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:enumeration value="ingreso" />
                <s:enumeration value="egreso" />
                <s:enumeration value="traslado" />
              </s:restriction>
            </s:simpleType>
          </s:attribute>
        </s:complexType>
      </s:element>
      <s:complexType name="t_UbicacionFiscal">
        <s:attribute name="calle" type="s:string" />
        <s:attribute name="noExterior" type="s:string" />
        <s:attribute name="noInterior" type="s:string" />
        <s:attribute name="colonia" type="s:string" />
        <s:attribute name="localidad" type="s:string" />
        <s:attribute name="referencia" type="s:string" />
        <s:attribute name="municipio" type="s:string" />
        <s:attribute name="estado" type="s:string" />
        <s:attribute name="pais" type="s:string" />
        <s:attribute name="codigoPostal" type="s:string" />
      </s:complexType>
      <s:complexType name="t_Ubicacion">
        <s:attribute name="calle" type="s:string" />
        <s:attribute name="noExterior" type="s:string" />
        <s:attribute name="noInterior" type="s:string" />
        <s:attribute name="colonia" type="s:string" />
        <s:attribute name="localidad" type="s:string" />
        <s:attribute name="referencia" type="s:string" />
        <s:attribute name="municipio" type="s:string" />
        <s:attribute name="estado" type="s:string" />
        <s:attribute name="pais" type="s:string" />
        <s:attribute name="codigoPostal" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfComprobanteConcepto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Concepto">
            <s:complexType>
              <s:sequence>
                <s:choice minOccurs="0" maxOccurs="unbounded">
                  <s:element minOccurs="0" maxOccurs="1" name="InformacionAduanera" type="s1:t_InformacionAduanera" />
                  <s:element minOccurs="0" maxOccurs="1" name="Parte">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="unbounded" name="InformacionAduanera" type="s1:t_InformacionAduanera" />
                      </s:sequence>
                      <s:attribute name="cantidad" type="s:decimal" use="required" />
                      <s:attribute name="unidad" type="s:string" />
                      <s:attribute name="noIdentificacion" type="s:string" />
                      <s:attribute name="descripcion" type="s:string" />
                      <s:attribute name="valorUnitario" type="s:decimal" />
                      <s:attribute name="importe" type="s:decimal" />
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="ComplementoConcepto">
                    <s:complexType>
                      <s:sequence>
                        <s:any minOccurs="0" maxOccurs="unbounded" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="CuentaPredial">
                    <s:complexType>
                      <s:attribute name="numero" type="s:string" />
                    </s:complexType>
                  </s:element>
                </s:choice>
              </s:sequence>
              <s:attribute name="cantidad" type="s:decimal" use="required" />
              <s:attribute name="unidad" type="s:string" />
              <s:attribute name="noIdentificacion" type="s:string" />
              <s:attribute name="descripcion" type="s:string" />
              <s:attribute name="valorUnitario" type="s:decimal" use="required" />
              <s:attribute name="importe" type="s:decimal" use="required" />
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="t_InformacionAduanera">
        <s:attribute name="numero" type="s:string" />
        <s:attribute name="fecha" type="s:date" use="required" />
        <s:attribute name="aduana" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfComprobanteImpuestosRetencion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Retencion">
            <s:complexType>
              <s:attribute name="impuesto" use="required">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:enumeration value="ISR" />
                    <s:enumeration value="IVA" />
                  </s:restriction>
                </s:simpleType>
              </s:attribute>
              <s:attribute name="importe" type="s:decimal" use="required" />
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfComprobanteImpuestosTraslado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Traslado">
            <s:complexType>
              <s:attribute name="impuesto" use="required">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:enumeration value="IVA" />
                    <s:enumeration value="IEPS" />
                  </s:restriction>
                </s:simpleType>
              </s:attribute>
              <s:attribute name="tasa" type="s:decimal" use="required" />
              <s:attribute name="importe" type="s:decimal" use="required" />
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/TimbreFiscalDigital">
      <s:element name="TimbrarCFDIResult">
        <s:complexType>
          <s:attribute name="version" type="s:string" />
          <s:attribute name="UUID" type="s:string" />
          <s:attribute name="FechaTimbrado" type="s:dateTime" use="required" />
          <s:attribute name="selloCFD" type="s:string" />
          <s:attribute name="noCertificadoSAT" type="s:string" />
          <s:attribute name="selloSAT" type="s:string" />
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TimbrarXMLSoapIn">
    <wsdl:part name="parameters" element="tns:TimbrarXML" />
  </wsdl:message>
  <wsdl:message name="TimbrarXMLSoapOut">
    <wsdl:part name="parameters" element="tns:TimbrarXMLResponse" />
  </wsdl:message>
  <wsdl:message name="TimbrarXMLV2SoapIn">
    <wsdl:part name="parameters" element="tns:TimbrarXMLV2" />
  </wsdl:message>
  <wsdl:message name="TimbrarXMLV2SoapOut">
    <wsdl:part name="parameters" element="tns:TimbrarXMLV2Response" />
  </wsdl:message>
  <wsdl:message name="TimbrarXMLV3SoapIn">
    <wsdl:part name="parameters" element="tns:TimbrarXMLV3" />
  </wsdl:message>
  <wsdl:message name="TimbrarXMLV3SoapOut">
    <wsdl:part name="parameters" element="tns:TimbrarXMLV3Response" />
  </wsdl:message>
  <wsdl:message name="TimbrarCFDISoapIn">
    <wsdl:part name="parameters" element="tns:TimbrarCFDI" />
  </wsdl:message>
  <wsdl:message name="TimbrarCFDISoapOut">
    <wsdl:part name="parameters" element="tns:TimbrarCFDIResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTimbradoSoap">
    <wsdl:operation name="TimbrarXML">
      <wsdl:input message="tns:TimbrarXMLSoapIn" />
      <wsdl:output message="tns:TimbrarXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarXMLV2">
      <wsdl:input message="tns:TimbrarXMLV2SoapIn" />
      <wsdl:output message="tns:TimbrarXMLV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarXMLV3">
      <wsdl:input message="tns:TimbrarXMLV3SoapIn" />
      <wsdl:output message="tns:TimbrarXMLV3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarCFDI">
      <wsdl:input message="tns:TimbrarCFDISoapIn" />
      <wsdl:output message="tns:TimbrarCFDISoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTimbradoSoap" type="tns:wsTimbradoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbrarXML">
      <soap:operation soapAction="http://sufacturacion.com/TimbrarXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbrarXMLV2">
      <soap:operation soapAction="http://sufacturacion.com/TimbrarXMLV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbrarXMLV3">
      <soap:operation soapAction="http://sufacturacion.com/TimbrarXMLV3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbrarCFDI">
      <soap:operation soapAction="http://sufacturacion.com/TimbrarCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsTimbradoSoap12" type="tns:wsTimbradoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbrarXML">
      <soap12:operation soapAction="http://sufacturacion.com/TimbrarXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbrarXMLV2">
      <soap12:operation soapAction="http://sufacturacion.com/TimbrarXMLV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbrarXMLV3">
      <soap12:operation soapAction="http://sufacturacion.com/TimbrarXMLV3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbrarCFDI">
      <soap12:operation soapAction="http://sufacturacion.com/TimbrarCFDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTimbrado">
    <wsdl:port name="wsTimbradoSoap" binding="tns:wsTimbradoSoap">
      <soap:address location="https://cfdi.smartweb.com.mx/Timbrado/wsTimbrado.asmx" />
    </wsdl:port>
    <wsdl:port name="wsTimbradoSoap12" binding="tns:wsTimbradoSoap12">
      <soap12:address location="https://cfdi.smartweb.com.mx/Timbrado/wsTimbrado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>